<h1> La valeur actuelle de la monnaie <%= @crypto %> est :</h1>
<br>
<div align="center"><b> <%= @cryptos[@crypto] %> </b></div>
<br>
<br>
<div align="center"><%= link_to "Retourner à la page de recherche", root_path%></div>